* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  align-items: center;
  
}


header {
  font-weight: bold;
  font-size: 25px;
  margin-top: 50px;
  
}

img {
  margin-top: 15px;

}

input {
  display: inline;
  

  
}
